@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("TrueType");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: color 20ms, background-color 200ms;
}

:root {
  --bg-primary: #eee;
  --bg-secondary: #f8f9fa;
  --color-primary: #7e57c2;
  --bg-hover: #311b9222;
  --bg-active: #7e57c2;
  --text-primary: #000;

  --text-secondary: #fff;
  --text-color-active: #fff;

  --btn-bgcolor-hover: #7773;
  --light-shadow: 0 0 1.4rem #0003;
  --text-tertiary: #fff;
}

[data-theme="dark"] {
  --bg-primary: #000;
  --bg-secondary: #333;
  --bg-hover: #7e57c299;
  --bg-active: #7e57c2;
  --text-primary: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header start */
.header {
  background-color: var(--bg-secondary);
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  gap: 1.2rem;
}

.nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 200ms;
}

.nav a:hover {
  /* color: var(--text-color-active); */
  background-color: var(--bg-hover);
}

.active {
  color: var(--text-color-active) !important;
  background-color: var(--bg-active) !important;
}

.btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-bgcolor-hover);
}

.btn img {
  width: 2.4rem;
  height: 2.4rem;
}

/* Hero section */

.hero {
  min-height: 25rem;
  padding: 5rem;

  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero p {
  font-size: 1.6rem;
}

.search-box {
  width: 65rem;
  border: 3px solid var(--bg-secondary);
  border-radius: 20rem;
  align-self: center;
  display: flex;
  align-items: center;

  transition: box-shadow 200ms, border 200ms;
}

.search-box:has(input:focus) {
  border: 3px solid var(--color-primary);
  box-shadow: -4px 8px 1rem 0px var(--color-primary);
}

.search-box input {
  padding: 1rem 0 1rem 2rem;
  font-size: 2.2rem;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  flex-grow: 1;
}

.search-box button {
  margin-right: 2rem;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-box svg {
  color: var(--text-primary);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* List of books section */

.books__container {
  max-width: 120rem;
  margin: 4rem auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.Books__item {
  padding: 1rem 1rem 0;
  background-color: var(--bg-secondary);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--light-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Books__item img {
  width: 100%;
  height: 34rem;
  object-fit: contain;
}

.Books__item-content {
  padding: 2rem;
}

.Books__item-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.Books__item-content p {
  font-size: 1.5rem;
  font-weight: 700;
}

.Books__item-content span {
  font-weight: normal;
  opacity: 0.8;
}

.btn-save {
  margin-top: 2rem;
}

.btn-save svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 1200px) {
  .books__container {
    padding: 0 2rem;
    max-width: 99.2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .books__container {
    max-width: 70rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .books__container {
    padding: 0 2rem;
    max-width: 40rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
