@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("TrueType");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: color 20ms, background-color 200ms;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #eee;
  --color-primary: #311b92;
  --bg-hover: #311b9222;
  --bg-active: #7e57c2;
  --text-primary: #000;

  --text-secondary: #fff;
  --text-color-active: #fff;

  --theme-btn-hover: #7773;
}

[data-theme="dark"] {
  --bg-primary: #000;
  --bg-secondary: #333;
  --bg-hover: #7e57c299;
  --bg-active: #7e57c2;
  --text-primary: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header start */
.header {
  background-color: var(--bg-secondary);
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  gap: 1.2rem;
}

.nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 200ms;
}

.nav a:hover {
  /* color: var(--text-color-active); */
  background-color: var(--bg-hover);
}

.active {
  color: var(--text-color-active) !important;
  background-color: var(--bg-active) !important;
}

.theme-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  background-color: transparent;
  cursor: pointer;
}

.theme-btn:hover {
  background-color: var(--theme-btn-hover);
}

.theme-btn img {
  width: 2.4rem;
  height: 2.4rem;
}
